---
import DefaultLayout from "./DefaultLayout.astro"

const { frontmatter: {title , pubDate, heroImage} } = Astro.props
---

<DefaultLayout>
  <article class="prose px-4 sm:px-0 dark:text-slate-100">
    <h1 class="text-2xl mt-12 font-bold dark:text-slate-100">{title}</h1>
    <time>{pubDate}</time>
    <img src={heroImage} class="mx-auto w-56">
    <slot/>
  </article>
</DefaultLayout>
